:root {
    --index-height: 90vh;
    --bs-blue: #005ce6;
    --bs-danger: #DC3545;
    --bs-alert: #f8d7da;
    --bs-success: #198754;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}



a {
    text-decoration: none;
    color: black;
    transition: color;
}

a:hover {
    color: var(--bs-blue);
}

ul {
    list-style: none;
}

nav {
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 0.5em 1em ;
}


ul {
    display: flex;
    gap: 1em;
}

button {
    border: none;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .02em;
    font-family: Arial, Helvetica, sans-serif;
   
}

input {
    padding: 0.7em 1em ;
    min-width: 250px;
    border: 1px solid #ccc;
}


input:focus {
    outline: 2px solid #ccc;
}

input[type=checkbox]:focus {
    outline: none;
}

form button {
    background: var(--bs-blue);
    color: white;
    padding: .8em 1em;
}

form small {
    color: var(--bs-danger);
}


.alert-success {
    background: var(--bs-success) ;
    font-weight: 600;
    color: white;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    margin-bottom: .5em;
    display: none;
    
}

.errorMsg {
    background: var(--bs-alert);
    color: #DC3545 ;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    display: none;
    transform: opacity 1s;

}

.errorMsg > * {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: 1em;
}


/* container-fluid */
.container-fluid {
    background: #fafafa;
}


/* Container */
.container {
    max-width: 1200px;
    margin: auto;

}


/*  Nav seetings */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Select all li item that are not first child */
.nav ul.nav-links > li:not(:first-child) {
    display: none;  
}

.nav ul.nav-links > li.loggedOut {
    display: block ;
}

.nav ul.nav-links > li.loggedIn {
    display: block;
}


/*  Font Awesome */

.fa.fa-bars {
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    display: none;
    position: absolute;

}



/* Logo */
.logo-wrapper {
    width: 50px;
    height: 50px;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
}

.logo-section {
    display: flex;
    gap: 1em;
    align-items: center;
}


/* Index Page */
.index {
    min-height: var(--index-height);
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

.i_heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:  .5em;
}

.i_heading  h1 {
    text-transform: uppercase;
}

.i_heading p {
    font-weight: 600;
}


.card {
    display: flex;
    justify-content: center;
    border: 1px solid #eee;
    max-width: 500px ;
    /* margin: auto; */
    padding: 1em;
    background: #efefef;
}

/*  Index page - showcase */
.showcase {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding: 2em 0;
}

.showcase-btns {
    display: flex;
    gap: 2em;
}
.showcase-btns  button:nth-of-type(1) {
    background: #134611;
    color: white;
}

.showcase-btns  button:nth-of-type(2) {
    background: #005ce6;
    color: white;
}

/* SignUp */

.checkbox-wrapper {
    display: flex;
    justify-content: start;
    border:  1px solid red;
    position: relative;
}
.form-group.agreement input[type=checkbox] {
    border: none;
    width: 20px;
    min-width: 0;
  
}

form[name="createAcc"] small {
    color: var(--bs-danger);
}


/*  Login */
.loginPage {
    width: 100%;
    height: 100%;
}

.login {
    background: #fafafa;
    padding: 1em;
    max-width: 380px;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login h1 {
    text-align: center;
    margin-bottom: 1em;
}



/* Logout Page */

.logoutPage, .logoutPage > div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logoutPage > div {
    align-self: flex-start;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding: 2em 0;
}

.logoutPage > div button {
    background: var(--bs-blue);
    transition: transform .2s ease-in-out;
}

.logoutPage > div button:hover {
    transform: scale(1.1);
}

.logoutPage > div button a {
    color: white;
}




/* ACCOUNT SETTING PAGE */

.accountEditPage {
    min-height: 90vh;
    padding-top: 4em;
}

.accountEditPage h1 {
    margin-bottom: .5em;
}

.account_upper_section {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
    /* border: 1px solid purple; */
    justify-content: center;
    margin: 2em 0;
}


.right_panel {

    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

}

.my_details_card, .change_passwd_card, .account_delete {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.my_details_card {
    padding: 4em;
    flex-basis: 55%;
}


.change_passwd_card {
    padding: 2em 1em;
    align-items: flex-start;
    flex: 1;
}

 .account_delete h4  , .change_passwd_card h4, hr {
    margin-bottom: .5em;
}

.account_delete {
    flex: 1;
    padding:  1em;
    /* background: var(--bs-danger); */
    font-weight: 700;

}

.account_delete h4 {
    color: var(--bs-danger);
}

.account_delete >  small  {
    margin-bottom: 0.5em;
    display: inline-block;
    color: var(--bs-danger);

}

.account_delete button {
    background: var(--bs-danger);
    color: white;
    font-weight: 600;
}


/*  Footer  */

.footer  {
    background: #000;
    min-height: 5vh;
   
}









/*  Media queries */

@media  screen and (max-width: 800px) {

    /* Hamburg menu Icon */
    .fa.fa-bars {
        display: block;
        position: relative;
    }


    .nav ul {
        flex-direction: column;
        position: absolute;
        background: #fafafa;
        padding: 2em;
        top: 50px;
        right: 0px;
        z-index: 999;
    }

      #check ~ ul.nav-links {
        display: none;
} 

    #check:checked ~ ul.nav-links {
       display: flex;
       flex-direction: column;
} 

    
}