

    <div class="index-wrapper">

        <!--  Index Heading  -->
        <div class="i_heading">
            <h1> Uptime Checker </h1>
            <p> Monitoring made simple  </p>
        </div>

        <!-- Card -->

        <div class="showcase">

            <div class="card">

                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, et vero labore excepturi dignissimos fuga quam molestias dolores officia itaque, magni quaerat mollitia soluta iste ab deserunt voluptatum iure fugiat dolorem veritatis beatae sapiente! Rem ipsam officia veniam voluptate placeat repudiandae facere rerum, vel fugit, impedit obcaecati nisi perspiciatis excepturi doloribus deserunt tempore, at et odio incidunt. Possimus provident molestias, quibusdam omnis voluptate cupiditate vel harum nemo numquam perferendis alias. Iure eos, explicabo ea consequatur est ullam voluptate numquam aliquid quasi, similique itaque? Maxime labore quidem tempora. Iure temporibus excepturi ducimus nihil blanditiis. Minima impedit suscipit ex neque, ullam quisquam.
                </div>
            
            </div>
        
            <div class="showcase-btns" >
                <button> Get Started</button>
                <button> Login</button>

            </div>
        </div>

    </div>
    
    
