

<div class="loginPage"> 

    <div class="login">

        <h1>  Login </h1>

        <div class="errorMsg"> <p> Error Msg</p> </div>
        <form  >

            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" placeholder="without a leading zero e.g 79123401" >
                <small></small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="phone" placeholder="password" >

                <small></small>
            </div>

            <div class="form-action">
                <button type="submit"> Login </button>
            </div>

        </form>

    </div>


</div>